# Name: calciumImaging tools library
# Description: utilities for image treatment in calcium imaging
#
# Author: Thomas Braschler

Plugins>Calcium Imaging, "Locate temporal peaks", FindPeaks
Plugins>Calcium Imaging, "Local Frequency (from peaks)", LocalFrequency
Plugins>Calcium Imaging, "Local Phase (from peaks)",LocalPhase
